<% include partials/header %>
<a href="/<%= code %>"><h1 class="text-center">/<%= code %>/ - <%= name %></h1></a>
    <h1 class="text-center">Create Thread</h1>
    <br />
    <div class="post-form center-block">
        <form action="/thread/create" method="POST">
            <input type='hidden' name='code' value="<%= code %>">
            <div class="form-group">
                <label for="threadName">Thread Name</label>
                <input type="text" class="form-control" name="threadName" placeholder="Thread Name">
            </div>
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" class="form-control" name="name" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="trip">Tripcode</label>
                <input type="text" class="form-control" name="trip" placeholder="Tripcode">
            </div>
            <div class="form-group">
                <label for="content">Comment</label>
                <textarea class="form-control" rows="6" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <br />
    <div class="threads">
    <div class="row">
<% threads.forEach(function(thread){ %>
    <div class="board col-lg-4 col-sm-6">
        <h4><a href="/thread/<%= thread._id%>"><%= thread.name %></a></h4>
        <h4>Created on <%= thread.creation %></h4>
    </div>
    <br>
<% }) %>
    </div>
    </div>
<% include partials/footer %>
