<% include partials/header %>
<a href="/<%= code %>"><h1 class="text-center">/<%= code %>/ - <%= name %></h1></a>
    <h1 class="text-center">Reply to thread</h1>
    <% if(typeof admin != "undefined") { %>
        <h1 id="delete-thread" class="text-center">Delete Thread</h1>
    <% } %>
    <div class="post-form center-block">
        <form action="/post/create" method="POST">
            <input type='hidden' name='threadId' value="<%= threadId %>" />
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" class="form-control" name="name" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="trip">Tripcode</label>
                <input type="text" class="form-control" name="trip" placeholder="Tripcode">
            </div>
            <div class="form-group">
                <label for="content">Comment</label>
                <textarea class="form-control" rows="6" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
<div class="thread">
    <% posts.forEach(function(post){ %>
        <div id="<%= post.postId %>" class="post">
            <div class="post-header">
                <% if(post.name) { %>
                    <div class="name"><%= post.name %></div>
                <% } else { %>
                    <div class="name"><%= config.postName %></div>
                <% } %>
                <div class="date"><%= post.creation %></div>
                <div class="postnumber"><%= post.postId %></div>
                <% if(post.trip) { %>
                    <div class="trip">!<%= tripcode(post.trip) %></div>
                <% } %>
                <% if(typeof admin != "undefined") { %>
                    <div class="ip"><%= post.ip %></div>
                    <div id="delete">Delete Post</div>
                    <div id="ban">Ban User</div>
                <% } %>
            </div>
            <br />
            <div class="content">
                <%- parseContent(post.content); %>
            </div>
        </div>
        </br>
    <% }); %>
</div>
<div class="text-center"><input id="refresh" type="checkbox">Update</div>
<% include partials/footer %>
